.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.userimage {
    height: 30px; 
    width: 30px; 
    border-radius: 15px;
}

.centered {
    text-align: center;
}

#snackbarPage {
    visibility: hidden;
    min-width: 250px;
    /* margin-left: -125px; */
    background: transparent;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 102;
    /* left: 50%;  */
    bottom: 30px;
    font-size: 17px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.snackbarItem {
    min-width: 250px;
    /* margin-left: -125px; */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    font-size: 17px;
    margin-bottom: 25px;
    border-radius: 25px;
}

#snackbarPage.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    /* animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}