<header class="overview-header">
    <nav class="navbar bg-light is-fixed-top" role="navigation" aria-label="main navigation">
        <a class="navbar-brand" href="#">
            <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">DAMO
        </a>

        <ul class="nav navbar-nav" [ngClass]="{'loading': true}">
            <li *ngFor="let model of models; let i = index"
                [ngClass]="{'active': page === model.id + '_' + model.version}"
                (click)="page = model.id + '_' + model.version">
                <a (mouseenter)="model.showInfo = true" (mouseleave)="model.showInfo = false"
                    style="padding-right: 30px;">
                    {{model.name + ' v' +(model.version | version) || 'unsaved model'}}
                    <i *ngIf="model.read" class="glyphicon  glyphicon-eye-open" title="read permission"></i>
                    <i *ngIf="model.write" class="glyphicon  glyphicon-pencil" title="write permission"></i>
                    <span *ngIf="model.collaborator.length > 1" style="margin-right: 0;" class="badge badge-light">
                        {{model.collaborator.length}}
                    </span>
                    <button type="button" class="close" aria-label="Close" (click)="remove(i)"><span
                            aria-hidden="true">&times;</span></button>
                </a>
                <!-- <button class="badge badge-light" style="position: absolute; top: 0; right: 0;" (click)="remove(i)">X</button> -->
                <div *ngIf="model.collaborator.length > 1 && model.showInfo"
                    style="position: absolute; top: 100%; z-index: 100" class="panel panel-default">
                    <div class="panel-heading">
                        Collaborators
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li *ngFor="let collaborator of model.collaborator">
                                {{collaborator}}
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li [ngClass]="{'active': page === '+'}" (click)="page = '+'"><a>+</a></li>
            <li *ngIf="permission === 1" [ngClass]="{'active': page === 'administration'}"
                (click)="page = 'administration';"><a>Administration</a></li>
            <!-- <li *ngIf="loading">
                <img *ngIf="loading" style="height: inherit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </li> -->
            <li style="position: absolute; right: 0; cursor: pointer">
                <a (click)="showMenu = !showMenu"><span class="glyphicon glyphicon-user"></span>{{username}}</a>
                <div *ngIf="showMenu" style="position: absolute; top: 100%; z-index: 100; cursor: auto"
                    class="panel panel-default">
                    <div class="panel-heading">
                        Menu
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="front-page">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

</header>

<div class="container is-fluid" [ngSwitch]="page">
    <!-- <div class="height-10">
        <!--Navigation bar-->
        <!-- <nav class="navbar navbar-default " role="navigation"> -->
            <!-- <ul class="nav navbar-nav" [ngClass]="{'disabled': loading}"> -->
           
        <!-- </nav> -->
    <!-- </div>  -->

    <!--Models-->
    <div class="" [hidden]="page!=='+'">
        <modelloader (loadModel)="onLoadModel($event)" (loadError)="loadError($event)"></modelloader>
    </div>
    <modeler (loadedCompletely)="onLoadedCompletely($event)" 
        (exportModel)="onExportModel($event)"
        (loadSubProcess)="onLoadSubProcess($event)" 
        *ngFor="let model of models"
        [hidden]="page !== model.id + '_' + model.version" [modelId]="'model_'+model.id + '_' + model.version"
        [newDiagramXML]="model.xml" [model]="model">
    </modeler>
</div>

<div id="snackbarPage">
    <!-- <div *ngFor="let message of snackBarMessages" [style.backgroundColor]="message.color" class="snackbarItem">
                {{message.text}}
        </div> -->
</div>