<h1>Introduction to {{ upperCase(catName) }}</h1>

<div class="container">
    <div class="text-center">

        <div>
            {{ content }}
        </div>
        <!-- <p [innerHTML]="content"></p> -->

    </div>

    <div class="btn-toolbar justify-content-between" role="toolbar">
        <button type="button" class="btn btn-secondary" (click)="clickPrevious()">Previous</button>
        <button type="button" class="btn btn-secondary" (click)="clickNext()">Next</button>
    </div>
</div>

<hr>
<div class="container">
    <div class="btn-toolbar justify-content-between" role="toolbar">
            <button type="button" class="btn btn-secondary">Abort Introduction</button>
            <button *ngIf="currentpage === introArr.length" type="button" class="btn btn-secondary" (click)="openFinishDialog()">Safe and Return</button>
    </div>
</div>

<!-- <div *ngIf="currentpage === level.PageDesc.length">
    <hr>
    <a [routerLink]="['/tutorial/testmc', levid]" class="btn btn-primary btn-lg btn-block">Test your knowlege</a>
    <a *ngIf="currentpage === level.PageDesc.length" class="btn btn-primary btn-lg btn-block"
        routerLink="/tutorial/testmod">Go to first
        lesson</a>
</div> -->