<h1>Introduction</h1>

<div class="container">
    <div class="text-center">

        <div *ngFor="let lpd of tutIntro.m_Introduction">
            <div *ngIf="lpd.m_Page === currentpage">
                <p [innerHTML]="lpd.m_Content"></p>
            </div>
        </div>

    </div>

    <div class="btn-toolbar justify-content-between" role="toolbar">
        <button type="button" class="btn btn-secondary" (click)="clickPrevious()">Previous</button>
        <button type="button" class="btn btn-secondary" id="btnNext" (click)="clickNext()">Next</button>
    </div>
    <div class="text-center">
        {{ currentpage }}/{{ allpages }}
    </div>
    <!-- ?? Maybe here a little slider for user information how big the introduction is ?? -->

</div>

<hr>
<div class="container">
    <div class="btn-toolbar justify-content-between" role="toolbar">
            <button type="button" class="btn btn-secondary">Abort Introduction</button>
            <button *ngIf="currentpage === allpages" type="button" class="btn btn-secondary" (click)="openFinishDialog()">Safe and Return</button>
    </div>
</div>

<!-- <div *ngIf="currentpage === level.PageDesc.length">
    <hr>
    <a [routerLink]="['/tutorial/testmc', levid]" class="btn btn-primary btn-lg btn-block">Test your knowlege</a>
    <a *ngIf="currentpage === level.PageDesc.length" class="btn btn-primary btn-lg btn-block"
        routerLink="/tutorial/testmod">Go to first
        lesson</a>
</div> -->