<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Role</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">



            <input type="text" class="form-control" placeholder="Search" name="srch-termrole" id="srch-termrole" [(ngModel)]="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="active">
                <th>RoleID</th>
                <th>Rolename</th>
            </tr>
            </thead>
            <tbody ></tbody>
            <tr *ngFor="let role of roles | filter:search" (click)="selected = role" [ngClass]="{'info': selected === role}">
                <td>{{role.rid}}</td>
                <td>{{role.role}}</td>
            </tr>
            <tfoot></tfoot>
        </table>
        <!-- Neue Rolle Button hinzugefuegt -->
        <button type="submit" class="btn btn-success" (click)="selected = newRole" [ngClass]="{'info': selected === newRole}"><i
                class="glyphicon glyphicon-plus"></i> New Role</button>
    </div>
</div>

<div class="panel panel-default" *ngIf="selected">
    <div class="panel-heading">
        <h3 class="panel-title">{{(selected.rolename === '' ? 'NewRole' : selected.rolename)}}</h3>
    </div>
    <div class="panel-body">


        <form>

                <div class="form-group form-inline row">
                    <label class="col-md-4" style="text-align: left" for="rolename">Rolename</label>
                    <input required type="text" class="col-md-6" id="rolename" placeholder="Rolename" name="role" [(ngModel)]="selected.role">
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="text-align: left" for="read">Read</label>
                    <input required type="checkbox" class="col-md-8" name="read" [(ngModel)]="selected.read">
                </div>
                <div class="form-group row">
                    <label class="col-md-4" style="text-align: left" for="write">Write</label>
                    <input required type="checkbox" class="col-md-8"  name="write" [(ngModel)]="selected.write">
                </div>
                <div class="form-group row">
                    <label class="col-md-4" style="text-align: left" for="admin">Admin</label>
                    <input required type="checkbox" class="col-md-8" name="admin" [(ngModel)]="selected.admin">
                </div>

            <div class="row"> 
                <button *ngIf="selected.rid === ''" type="submit" class="btn btn-success" (click)="roleCreate()">Create</button>
                <button *ngIf="selected.rid !== ''" type="submit" class="btn btn-primary" (click)="roleUpdate()">Change</button>
                <button *ngIf="selected.rid !== ''" type="submit" class="btn btn-danger" (click)="roleDelete()">Delete</button>
            </div>
        </form>
    </div>
</div>

