<header class="fixed-top">
  <nav class="navbar bg-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">DAMO
      </a>
    </div>

    <div id="navbarElements" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item has-icon-right" routerLink="/tutorial">
          <span>Home</span>
        </a>
      </div>
    </div>

  </nav>
</header>
<br><br>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom bg-light">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://twitter.com/danielhilpoltsteiner">Daniel and Friends from IPIM</a>
      </p>
    </div>
  </div>
</footer>