<!-- Some Text for the Tutorialspage -->
<div class="container">
    <h1 class="text-center">Welcome to the BPMN Tutorialspage</h1>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</div>

<div class="container">
    <mat-accordion>
        <div *ngFor="let cat of tutorial">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    {{ cat.catName }} 
                </mat-expansion-panel-header>

                <div class="submodule">
                    <a [routerLink]="['/tutorial/intro', cat.catName]">Introduction</a><input type="checkbox" class="float-right" ngIf="" disabled>
                </div>
                <div class="submodule">
                    <a [routerLink]="['/tutorial/multiplechoice', cat.catName]">Test your knowlege</a><input type="checkbox" class="float-right" disabled>
                </div>

                <div *ngFor="let task of cat.catMod">
                    <div class="submodule">
                        <a [routerLink]="['/tutorial/testmod', task.m_TaskID]">{{ task.m_TaskName }}</a><input type="checkbox" ng-checked="task.m_TaskFinished == true" class="float-right" disabled>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div> 
